.first_part{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(10, 9, 9, 0.5)),
    url('./pexels-emma-bauso-1183828-2253842.jpg');
}
#search-session{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(10, 9, 9, 0.5)),
    url('./pexels-glauber-torquato-1161877-2219195.jpg');
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
}
#search-box{
    opacity: .5;
    
}